.user-card__info-container {
    display: flex;
}

.user-card__text-info {
    margin-left: 30px;
}

.user-card__privacy-risk-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.user-card__privacy-risk-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.user-card__risk-inicator-container {
    width: 100%;
    height: 10px;
    background-color: #F3F5F9;
    margin-top: 10px;
    border-radius: 5px;
    position: relative;
}

.user-card__risk-inicator-value {
    width: 0;
    height: 10px;
    position: absolute;
    border-radius: 5px;
}

.user-card__avatar {
    background-color: #B1C6F1 !important;
}


@media only screen and (max-width: 360px) {
    .user-card__avatar {
        display: none !important;
    }
    .user-card__text-info {
        margin-left: 0;
    }
    .user-card__info-container {
        justify-content: space-between;
    }
}
