.cc__container {
    overflow-y: scroll;
}

.cc__loader-container {
    width: 100%;
    height: calc(100vh - 300px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cc__accordion-panel {
    background-color: #fff !important;
    border-radius: 6px !important;
    margin-top: 20px !important;
    padding: 13px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    overflow: hidden !important;
    border: 0 !important;
}

.cc__accordion-container {
    background-color: #F3F5F9 !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
}
